body {
    font-family: 'Joti One', cursive;
}

.stick-btn,
.stick-btn-border,
.stick-btn-inverse {
    --bg: black;
    --color: white;
    --p: 10px 40px;
    --b: 2px solid black;
}

.stick-btn-inverse {
    --bg: white;
    --color: black;
    --w: 100% !important;
    --b: 3px solid black;
    --p: 10px 20px;
}

.stick-btn-border {
    --p: 10px 30px;
    --m: .1rem;
}

.stick-btn ,
.stick-btn-border,
.stick-btn-inverse {
    background-color: var(--bg);
    color: var(--color);
    text-decoration: none;
    padding: var(--p);
    border-radius: 20px;
    display:inline-block;
    width: var(--w);
    border: var(--b);
    margin: var(--m);
}

.stick-btn:hover,
.stick-btn-inverse:hover,
.stick-btn-border:hover {
    background-color: var(--color);
    color: var(--bg);
}

#main {
    position: relative;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}

#header {
    height: 110vh;
    background-position: center;
    background-size: cover;
    color: black;
    padding:0;
    position: relative;
    z-index: 2;
}

#header .bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#nav {
    backdrop-filter: brightness(99%); 
    position: fixed;
    top: 0;  
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: .5s;
    width: 100%;
}

.white {
    background: white !important;
    box-shadow: 0 0px 10px 0 gray !important;
}



#nav a {
    color:black;
    text-decoration: none;
}

#nav .nav-items a {
    margin-right: 30px;
    font-size: 25px;
}

#nav .nav-items a:hover {
    text-decoration: underline;
}

#nav .nav-logo {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#nav .nav-logo h1{
    text-align: center;
    font-size: 2rem;
    }

#nav .nav-icons a {
    font-size: 25px;
}

#nav .nav-icons a.cart-nav {
    position: relative;
}

#nav .nav-icons a.cart-nav::before {
    content: attr(data-cart-items-total);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    border-radius: 50%;
    background: lightGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

#nav .nav-burger {
    margin-right: 1rem;
}

#nav .nav-burger button{
    background: none;
    border: none;
    font-size: 2rem;
}

#nav .nav-logo-container {
    
}

#header .content {
   position: absolute; 
   bottom: 50px;
}

#header .content .text {
    color: white;
}

#header .content .images {
    position: absolute;
    top: 0 ;
    right: 0;
}

#header .content .images img {
    position: absolute;
}

#products .item-container {
    gap: 1rem;
}

#products .card {
    border: none !important;
}

#products .card img {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

#products .image-container {
    position: relative;
}

#products .card video{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    display: none;
    border-radius: 20px;
}

#products .card .image-container:hover video{
    display: block;
}

#about {
    background:/* linear-gradient(to right,rgba(255,255,255,.01),transparent,rgba(255,255,255,0.01)), */ url("images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 10rem;
    text-align: center;
}



#footer {
    margin-top: 5rem;
    background-color: #beffba;
    padding: 3.5rem 0;
}

#footer hr {
    border-top: 0.1rem solid black;
}

#footer .email input{
    padding:.3rem 1rem;
    border: 1px solid #d0e6ce;
    flex: 1;
}

#footer .email button {
    padding: .3rem .6rem;
    background-color: black;
    color: white;
    border: none;
}

#footer .links {
    font-size: 1.5rem ;
    margin-top: 1.1rem;
}

#footer .links a {
    margin: .5rem;
}

#footer .certificates h5{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

#footer .certificates ul{
    padding: 0;
}

#footer .certificates li {
    margin-bottom: .4rem;
}

#footer .certificates a {
    font-size: .8rem;
}

#footer .copyright ul{
    display: flex;
}

#footer .copyright  a {
    font-size: .9rem;
}

#footer ul {
    list-style: none;
}

#footer a { 
    text-decoration: none;
    color: black;
}

#footer a:hover {
    text-decoration: underline;
}

#cart {
    position: fixed;
    width: 35vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 3;
    transform: translateX(100%);
    transition: .2s ;
}

#cart .head {
    display: flex;
    padding:10px 15px 10px 50px;
}

#cart h3 {
    flex: 1;
    text-align: center;
}

#cart .head button{
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#cart .cart-items {
    background-color: gray;
    height: 65vh;
    width: 95%;
    overflow: auto;
}

#cart .cart-item {
    height: 21vh;
    background-color:white;
    display: flex;
    padding: 10px;
    margin-bottom: 1px;
    position: relative;
}

#cart .cart-item .text {
    padding-left: 10px;
}

#cart .cart-item .text > * {
    margin: 0;
}

#cart .cart-item .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#cart .cart-item .actions .price p{
    margin: 0;
    text-align: right;
}

#cart .cart-item .actions .price .previous {
    text-decoration: line-through;
    color: gray;
}

#cart .cart-item .amount {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    align-items: center;
}

#cart .cart-item .amount button {
    background-color: transparent;
    border: none;
    padding: 0;

    width: 2.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart .cart-item .name {
    font-size: 30px;
}

#cart .cart-item .remove {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
}

#cart .checkout {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

#cart .checkout button, #cart .checkout a {
    width: 90%;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: inset  0 0 0 1.5px black;
    text-align:center;
    text-decoration: none;
}

#cart .checkout button:hover, #cart .checkout a:hover{
    background-color: white;
    color: black;
}

/* SHOP PAGE */
#item-collections {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 1.5rem;
}

#item-collections .navigator {
    width: 20vw;
}

#item-collections .navigator ul {
    width: 100%;
    padding: 0;
    margin: none;
}

#item-collections .navigator li {
    list-style: none;
    margin: 0.6rem 0;
}

#item-collections .navigator button {
    background-color: white;
    width: 100%;
    padding: .5rem 0;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 0 0 1.5px black;
}

#item-collections .navigator button:hover {
    background-color: black;
    color: white;
}

#item-collections .navigator button.active {
    background-color: black;
    color: white;
}

#item-collections .contents {
    width: 60vw;
}

#item-collections .contents .content-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    font-style: italic;
}

#item-collections .contents .content-item.hide {
    display: none;
}

#item-collections .contents .content-item .title span {
    flex:0.97;
    height: .2rem;
    background-color: #beffba;
}


#item-collections .contents .content-item .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#item-collections .contents .card {
    width: 30%;
    border: none;
    margin-right:1.3rem;
    margin-bottom: 5rem;
}

#item-collections .contents .card .card-img-top {
    position: relative;
    cursor: pointer;
}

#item-collections .contents .card .card-img-top .actions{
    position: absolute;
    left: 0;
    bottom: 2rem;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-collections .actions {

}

#item-collections .contents .card .card-img-top .actions button {
    width: 90%;
    padding: .7rem 0;
    border: none;
    margin: auto;
    margin-top: .7rem;
    border-radius: 20px;
    opacity: 0;
    transition: .4s;
}   


#item-collections .contents .card .card-img-top .actions button:first-child {
    background-color: white;
}

#item-collections .contents .card .card-img-top .actions button:last-child {
    background-color: black;
    color: white;
    transition-delay: .15s;
    box-shadow: inset 0 0 0 2.5px black;
}

#item-collections .contents .card .card-img-top .actions button:last-child:hover {
    background-color: white;
    color: black;
    transition: none;
}

#item-collections .contents .card .card-img-top:hover .actions button {
    opacity: 1;
}

#item-collections .contents .card .card-body {
    padding: 0;
}

#item-collections .contents .card .name {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#item-collections .contents .card .name a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#item-collections .contents .card .name p {
    margin: 0;
}

#item-collections .contents .card .reviews {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.hide {
    display: none !important;
}

@media (min-width: 1200px){
   .nav-logo h1{
        font-size: 3rem !important;
   }
 }
