body {
    font-family: 'Joti One', cursive;
}

#main {
    position: relative;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}

#header {
    height: 110vh;
    background:/* linear-gradient(to right,rgba(255,255,255,.01),transparent,rgba(255,255,255,0.01)), */ url("images/head-items2(1)-bg.webp");
    background-position: center;
    background-size: cover;
    color: black;
    padding:0;
    padding: 20px 50px;
    position: relative;
    z-index: 2;
}

#nav {
    backdrop-filter: brightness(99%); 
    position: fixed;
    top: 0;  
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: .5s;
}

.white {
    background: white !important;
    box-shadow: 0 0px 10px 0 gray !important;
}

#nav > div > div {
    display: flex;
    align-items: center !important;
}

#nav a {
    color:black;
    text-decoration: none;
}

#nav .nav-items a {
    margin-right: 30px;
    font-size: 25px;
}

#nav .nav-items a:hover {
    text-decoration: underline;
}

#nav .nav-logo h1{
    text-align: center;
    font-size: 3rem;
}

#nav .nav-icons a {
    font-size: 25px;
}

#nav .nav-icons a.cart-nav {
    position: relative;
}

#nav .nav-icons a.cart-nav::before {
    content: attr(data-cart-items-total);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    border-radius: 50%;
    background: lightGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

#nav .nav-burger {
    margin-right: 1rem;
}

#nav .nav-burger button{
    background: none;
    border: none;
    font-size: 2rem;
}

#nav .nav-logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3rem;
    top: 0;
    z-index: -1;
}

#header .content {
   position: absolute; 
   bottom: 50px;
}

#header .content .text {
    width: 60%;
    color: white;
}

#header .content .text a{
    background-color: black;
    color: white;
    border-radius:20px !important;
    border: 1px solid black;    
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
}

#header .content .text a:hover {
    background-color: white;
    color: black;
}   

#header .content .images {
    position: absolute;
    top: 0 ;
    right: 0;
}

#header .content .images img {
    position: absolute;
}

#products .item-container {
    gap: 1rem;
}

#products .card {
    width: 247px;
    border: none !important;
}

#products .item-container .card img {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

#products .item-container .card .image-container:hover img {
    display: none;
}

#products .item-container .card video{
    cursor: pointer;
    display: none;
    width: 100%;
}

#products .item-container .card .image-container:hover video{
    display: block;
}

#products .item-container .card .card-body a {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 3px solid black;
    text-decoration: none;
    display: inline-block;
    color: black;
}

#products .item-container .card .card-body a:hover {
    background-color: black;
    color: white;
}

#about {
    background:/* linear-gradient(to right,rgba(255,255,255,.01),transparent,rgba(255,255,255,0.01)), */ url("images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .content {
    width: 50%;
    justify-content: center;
}

#about .content button {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
}


#about .content button:hover {
    background-color:white;
    color: black;
}

#footer {
    margin-top: 5rem;
    background-color: #beffba;
    padding: 3.5rem;
}

#footer hr {
    border-top: 0.1rem solid black;
}

#footer .subscription {
    padding: 1rem 3rem;
    display: inline-block;
    width: 100%;
}

#footer .subscription .left {
   float: left;
}

#footer .left .text {
    width: 24rem;
}

#footer .subscription .right {
    float: right;
    width: 50%;
}

#footer .email {
    text-align: right;
    position: relative;
}

#footer .email input{
    width:75%;
    padding:.3rem 1rem;
    border: 1px solid #d0e6ce;
}

#footer .email button {
    padding: .3rem .6rem;
    background-color: black;
    color: white;
    border: none;
}

#footer .links {
    font-size: 1.5rem ;
    text-align: right;
    margin-top: 1.1rem;
}

#footer .links a {
    color: black;
    text-decoration: none;
    margin: .5rem;
}

#footer .certificates {
    padding: 1rem 3rem;
}

#footer .certificates .left h5{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

#footer .certificates ul{
    list-style: none;
    padding: 0;
}

#footer .certificates ul li {
    margin-bottom: .4rem;
}

#footer .certificates ul a , 
#footer .copyright .right ul a {
    text-decoration: none;
    color: black;
}

#footer .certificates ul a {
    font-size: .8rem;
}

#footer .certificates ul a:hover , #footer .copyright .right ul a:hover {
    text-decoration: underline;
}

#footer .copyright {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#footer .copyright .left{
    font-size: .9rem;
}

#footer .copyright .right ul{
    display: flex;
    list-style: none;
}

#footer .copyright .right ul li {
    margin-left: 1.6rem;
}

#footer .copyright .right ul a {
    font-size: .9rem;
}

#cart {
    position: fixed;
    width: 35vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 3;
    transform: translateX(100%);
    transition: .2s ;
}

#cart .head {
    display: flex;
    padding:10px 15px 10px 50px;
}

#cart h3 {
    flex: 1;
    text-align: center;
}

#cart .head button{
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#cart .cart-items {
    background-color: gray;
    height: 65vh;
    width: 95%;
    overflow: auto;
}

#cart .cart-item {
    height: 21vh;
    background-color:white;
    display: flex;
    padding: 10px;
    margin-bottom: 1px;
    position: relative;
}

#cart .cart-item .text {
    padding-left: 10px;
}

#cart .cart-item .text > * {
    margin: 0;
}

#cart .cart-item .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#cart .cart-item .actions .price p{
    margin: 0;
    text-align: right;
}

#cart .cart-item .actions .price .previous {
    text-decoration: line-through;
    color: gray;
}

#cart .cart-item .amount {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    align-items: center;
}

#cart .cart-item .amount button {
    background-color: transparent;
    border: none;
    padding: 0;

    width: 2.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart .cart-item .name {
    font-size: 30px;
}

#cart .cart-item .remove {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
}

#cart .checkout {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

#cart .checkout button, #cart .checkout a {
    width: 90%;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: inset  0 0 0 1.5px black;
    text-align:center;
    text-decoration: none;
}

#cart .checkout button:hover, #cart .checkout a:hover{
    background-color: white;
    color: black;
}

/* SHOP PAGE */
#item-collections {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 1.5rem;
}

#item-collections .navigator {
    width: 20vw;
}

#item-collections .navigator ul {
    width: 100%;
    padding: 0;
    margin: none;
}

#item-collections .navigator li {
    list-style: none;
    margin: 0.6rem 0;
}

#item-collections .navigator button {
    background-color: white;
    width: 100%;
    padding: .5rem 0;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 0 0 1.5px black;
}

#item-collections .navigator button:hover {
    background-color: black;
    color: white;
}

#item-collections .navigator button.active {
    background-color: black;
    color: white;
}

#item-collections .contents {
    width: 60vw;
}

#item-collections .contents .content-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    font-style: italic;
}

#item-collections .contents .content-item.hide {
    display: none;
}

#item-collections .contents .content-item .title span {
    flex:0.97;
    height: .2rem;
    background-color: #beffba;
}


#item-collections .contents .content-item .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#item-collections .contents .card {
    width: 30%;
    border: none column;
    align-items: center;
}

#item-collections .actions {

}

#item-collections .contents .card .card-img-top .actions button {
    width: 90%;
    padding: .7rem 0;
    border: none;
    margin: auto;
    margin-top: .7rem;
    border-radius: 20px;
    opacity: 0;
    transition: .4s;
}   


#item-collections .contents .card .card-img-top .actions button:first-child {
    background-color: white;
}

#item-collections .contents .card .card-img-top .actions button:last-child {
    background-color: black;
    color: white;
    transition-delay: .15s;
    box-shadow: inset 0 0 0 2.5px black;
}

#item-collections .contents .card .card-img-top .actions button:last-child:hover {
    background-color: white;
    color: black;
    transition: none;
}

#item-collections .contents .card .card-img-top:hover .actions button {
    opacity: 1;
}

#item-collections .contents .card .card-body {
    padding: 0;
}

#item-collections .contents .card .name {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#item-collections .contents .card .name a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#item-collections .contents .card .name p {
    margin: 0;
}

#item-collections .contents .card .reviews {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.hide {
    display: none !important;
}

@media (min-width: 1200px){
   .nav-logo-container {
        width: 100%;
        left: 0 !important; 
   }
}
